{% extends "base_admin.html"%}
{% block title %}Administrador - Menu{% endblock %}
{% block content %}

<div id="admin" class="container-fluid wow fadeIn">
    <h2 class="text-center mt-3">Gestión de Productos en Inventario. <span class="text-right">Total:
            {{total}}</span> </h2><br>
    <div class="text-right">
        <!-- <h4>Total: {{total}}</h4> -->

        <a class="btn btn-primary" id="agregar" href="{{url_for('admin.agregar')}}">+ Agregar nuevo</a>
    </div>
    <br>
    <div class="text-center">
        {{ pagination.info }}
    </div><hr>
    <div class="d-flex justify-content-center">
        {{ pagination.links }}

    </div>
    <div class="table-responsive-xl">
        <table class="table table table-striped table-dark table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th class="id">ID</th>
                    <th class="imagen">Imagen</th>
                    <th class="nombre">Nombre</th>
                    <th class="precio">Precio</th>
                    <th class="descripcion">Descripción</th>
                    <th class="tipo">Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_menu %}
                <tr>
                    <form action="{{url_for('admin.modificar',item_id=item.id)}}" method="post">
                        <td class="text-center">{{item.id}}
                            <div id="carga_imagen{{item.id}}">
                                {% if item.imagen.startswith('http') %}
                                <img src="{{ item.imagen }}" alt="template by..." width="50">
                                {% else %}
                                <img src="{{ url_for('static', filename='img/menu/' + item.imagen) }}"
                                    alt="template by---" width="50">
                                {% endif %}
                            </div>
                        </td>
                        <td><textarea type="text" class="form-control" rows="3" name="imagen" id="imagen{{item.id}}"
                                oninput="cargarImg({{item.id}});" required>{{item.imagen}}</textarea>
                        </td>
                        <script>
                            function cargarImg(id) {
                                let url_img = document.getElementById('imagen'+id).value;
                                document.getElementById('carga_imagen'+id).innerHTML = '<img src="' + url_img + '" alt="..." width="50">';
                            }
                        </script>

                        <td><textarea type="text" rows="3"  class="form-control" name="nombre" required>{{item.nombre}}</textarea>
                        </td>
                        <td><textarea type="number" class="form-control" name="precio"
                                required>{{item.precio}}</textarea>
                        </td>
                        <td><textarea class="form-control" name="descripcion" rows="3"
                                required>{{item.descripcion}}</textarea>
                        </td>
                        <td>{{item.categoria}}<select class="form-control" id="categoria" name="categoria" required>
                                <!-- <option value="null">Seleccione una opción</option> -->
                                <option value="Entrada" {% if item.categoria=='Entrada' %} selected {% endif %}>Platos
                                    de Entrada</option>
                                <option value="Principal" {% if item.categoria=='Principal' %} selected {% endif %}>
                                    Platos principales</option>
                                <option value="Compartir" {% if item.categoria=='Compartir' %} selected {% endif %}>
                                    Platos para compartir</option>
                                <option value="Postre" {% if item.categoria=='Postre' %} selected {% endif %}>Postres
                                </option>
                                <option value="Bebida" {% if item.categoria=='Bebida' %} selected {% endif %}>Bebidas
                                </option>
                            </select></td>
                        <td>
                            <div  class="acciones_control">
                                <button type="submit" class="btn btn-success btn-sm mr-2">Modificar</button>
                                <button class="btn btn-danger btn-sm" style="color: #fff;"><a data-toggle="modal" data-target="#modalEliminar{{item.id}}"
                                    >Eliminar</a></button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalEliminar{{item.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="modalEliminar{{item.id}}Title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content" style="color: black;">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title" id="modalEliminar{{item.id}}Title">¿Seguro
                                                    quieres
                                                    eliminar el item {{item.id}}: {{item.nombre}}?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <a href=" {{url_for('admin.eliminar',item_id=item.id)}}"
                                                    class="btn btn-primary">Confirmar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </form>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        {{ pagination.links }}

    </div>
</div>



{% endblock %}