.custom-container {
    margin: 10px;
    padding: 10px;
}

.imagen{
    min-width: 300px;
}

.id{
    width: 6%;
}

.categoria{
    width: 10%;
}

.descripcion{
    width: 20%;
}

thead{
    background-color: #001f3f;
}

#agregar{
    color: red;
    font-size: 20pt;
}
