{% extends "base.html" %}
{% block title %}Blue Bull Bar - {{_('Password Reset Request')}}{% endblock %}
{% block content %}

<!-- header -->
<header id="home" class="header">
    <div class="overlay text-white text-center">
        <br><br><br><br><br>
        <!-- <br><h1 class="display-2 font-weight-bold my-3">Blue Bull Bar</h1>
        <h2 class="display-4 mb-5">Always fresh &amp; Delightful</h2>
        <a class="btn btn-lg btn-primary">Solicitud Reestablecer Contraseña</a>
        <hr> -->

        <!-- Columna  -->
        <div class="col-lg-6 mb-5 mt-3 text-center ">

            <div class="container pb-5 pt-5">
                <div style="margin: 10px 10%; ">

                    <h2 class="mb-4">{{_('Enter your e-mail')}}</h2>
                    <!-- Mostrar mendajes flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul class="">
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            <li>{{ message }}</li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    <form method="post" action="{{ url_for('auth.reset_request') }}" autocomplete="off">
                        <div class="form-group">
                            <label for="email">{{_('Email')}}:</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">{{_('Send Restore Email')}}</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</header>



{% endblock %}